@import "tailwindcss";
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap');


:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}


html {
  font-family: var(--font-body);
  scroll-behavior: smooth;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}


p, span, li, a {
  font-family: var(--font-body);
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
}





